@import url(//db.onlinewebfonts.com/c/0a6ee448d1bd65c56f6cf256a7c6f20a?family=Bahnschrift);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: "Bahnschrift";
    src: url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.eot");
    src: url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.woff") format("woff"), url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0a6ee448d1bd65c56f6cf256a7c6f20a.svg#Bahnschrift") format("svg");
}
body{
    overflow-y: hidden;
}
@media only screen and (min-width: 1200px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #1B262C;
        overflow-x: hidden;
    }

    .links {
        border: 1px solid #1B262C;
        height: 80%;
        width: 140%;
        margin-left: 10%;
        margin-top: 12%;
        background-image: url("img/pls11.svg");
        background-repeat: no-repeat;
    }

    .links h1 {
        font-family: "Bahnschrift";
        font-size: 400%;
    }

    .links h2 {
        font-family: "Bahnschrift";
        font-size: 200%;
        margin-top: -45px;
    }

    .links p {
        font-family: 'Montserrat', sans-serif;
    }

    .links div {
        margin-top: 90px;
        margin-left: 5.5%;
        text-align: justify;
        color: #fff;
        opacity: 87%;
    }

    .rechts {
        border: 1px solid #1B262C;
        height: 80%;
        margin-left: 57%;
        background-image: url("img/pls22.svg");
        background-repeat: no-repeat;

    }

    .rechts h1 {
        font-family: "Bahnschrift";
        margin-left: 12%;
    }

    .rechts h1:hover {
        text-decoration: underline;
    }

    .rechts div {
        margin-top: 350px;
        margin-left: 6%;
    }

    .rechts div a {
        text-decoration: none;
        color: #fff;
        opacity: 87%;
    }

    /*day night*/

    .sunn {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
    }

    #images {
        text-align: center;
        position: fixed;
        width: 100%;
    }



    /*deel 2*/
    .linksonder {

        margin-top: 1100px;
        height: 45%;
        width: 100%;
        margin-left: 0%;
        background-image: url("img/nr333.svg");
        background-repeat: no-repeat;
    }

   

    .rechtsonder {
        margin-top: 450px;
        height: 45%;
        width: 100%;
        margin-left: 60%;
        background-image: url("img/pls33.svg");
        background-repeat: no-repeat;
    }


    .fotoUpload {
        height: 700px;
        margin-top: 655px;
        position: absolute;
        margin-left: 15%;
    }

    .fotoUpload img {
        max-width: 700px;
        max-height: 700px;
    }

    .fotoUpload form {
        text-align: center;
    }

    .parameters {
        position: absolute;
        margin-left: 10%;
        margin-top: -250px;
        width: 20%;
        height: 400px;
        max-height: 500px;
        text-align: center;
    }

    /*input file*/
    .custom-file-input {
        color: transparent;
    }

    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Select an image';
        color: white;
        display: inline-block;
        background: #1B262C;
        border: 2px solid #3A7D2B;
        border-radius: 10px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
    }

    .custom-file-input:hover::before {
        border-color: #df6535;

    }

    .custom-file-input:active {
        outline: 0;
    }

    input[type=submit] {
        color: white;
        display: inline-block;
        background: #1B262C;
        border: 2px solid #3A7D2B;
        border-radius: 10px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
    }

    input[type=submit]:hover {
        border-color: #df6535;
    }

    span {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }



    /*2 kolommn*/
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    /*nav*/
    .boven {
        height: 5%;
        margin-top: 25px;
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .boven a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        padding: 16px;
    }

    .boven a:hover {
        text-decoration: underline;
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .separator::before,
    .separator::after {
        content: '';
        flex: auto;
        border-bottom: 1px solid #fff;
    }

    .separator::before {
        margin-right: 1%;
        margin-left: -10px;
    }

    .separator::after {
        margin-left: 1%;
    }

    .separator2 {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .separator2::before,
    .separator2::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #fff;
    }

    .separator2::before {
        margin-right: 1%;
    }

    .separator2::after {
        margin-left: 5px;
    }
    /*translate*/
    h3 {
        font-family: "Bahnschrift";
        color: #fff;
    }

    h1 {
        color: #fff;
    }

    form {
        font-family: 'Montserrat', sans-serif;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    .fotoUpload h3 {
        text-align: center;
    }

}



@media only screen and (max-width: 450px) {
    body {
        background-color: #1B262C;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .tablet {
        display: none;
    }


    /*navigation*/
    .topnav {
        overflow: hidden;
        width: 100%;
        position: fixed;
    }

    .topnav #myLinks {
        display: none;
        text-align: center;
        background-color: #1B262C;
        padding-bottom: 150%;
        
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #e6e0e4;
        margin: 6px 0;
        transition: 0.4s;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        font-family: 'Montserrat', sans-serif;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }


    .active {
        background-color: #1B262C;
        height: 4%;
    }

    /*home mobile*/

    .homeInfo {
        border: 1px solid #1B262C;
        width: 100%;
        height: 100%;
    }

    .homeInfo div {
        margin-top: 25%;
        background-image: url("img/m5.svg");
        background-repeat: no-repeat;
        height: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .homeInfo h1 {
        font-family: "Bahnschrift";
        font-size: 210%;
        padding-top: 12%;
        padding-left: 7%;
        color: #e6e0e4;
    }

    .homeInfo h2 {
        font-family: "Bahnschrift";
        padding-left: 7%;
        margin-top: -20px;
        color: #e6e0e4;
    }

    .homeInfo p {
        font-family: 'Montserrat', sans-serif;
        margin-top: -10px;
        padding-left: 7%;
        font-size: 80%;
        color: #e6e0e4;
    }

    .start {
        font-size: 160%;
        font-family: "Bahnschrift";
        margin-left: 55%;
        margin-top: 120px;
    }

    .createMobile {
        margin-top: 500px;

    }

    .createMobile h1 {
        font-family: "Bahnschrift";
        text-align: center;
        color: #e6e0e4;
    }

    .createMobilediv {
        background-image: url("img/m4.svg");
        background-repeat: no-repeat;
        height: 100%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .createMobile image {
        max-width: 100%;
        max-height: 150px;
    }

    a {
        text-decoration: none;
        color: #e6e0e4;
    }

    .custom-file-input {
        color: transparent;
    }

    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Select an image';
        color: white;
        display: inline-block;
        background: #1B262C;
        border: 2px solid #3A7D2B;
        border-radius: 10px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
    }

    .custom-file-input:hover::before {
        border-color: #df6535;

    }

    .custom-file-input:active {
        outline: 0;
    }

    input[type=submit] {
        color: white;
        display: inline-block;
        background: #1B262C;
        border: 2px solid #3A7D2B;
        border-radius: 10px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
    }

    input[type=submit]:hover {
        border-color: #df6535;
    }

    .params {
        height: 130px;
        margin-top: -330px;
    }

    .active {
        margin-top: 10px;
    }

    .sunn {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
    }

    video {
        margin-top: 15px;
    }

    /*translate*/
    h3 {
        font-family: "Bahnschrift";
        text-align: center;
        color: #fff;
    }

    form {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    label {
        padding: 6px 6px 6px 0;
        display: inline-block;
    }

}

@media only screen and (min-width: 450px) and (max-width: 1200px) {
      

    .desktop {
        display: none;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #1B262C;
        overflow-x: hidden;

    }

    .links {
        border: 1px solid #1B262C;
        height: 60%;
        width: 140%;
        margin-left: 10%;
        margin-top: 20%;
        background-image: url("img/m5.svg");
        background-repeat: no-repeat;
    }

    .links h1 {
        font-family: "Bahnschrift";
        font-size: 250%;
    }

    .links h2 {
        font-family: "Bahnschrift";
        font-size: 150%;
        margin-top: -30px;
    }

    .links p {
        font-family: 'Montserrat', sans-serif;
        font-size: 70%;
    }

    .links div {
        margin-top: 60px;
        margin-left: 8%;
        text-align: justify;
        color: #fff;
    }

    .rechts {
        border: 1px solid #1B262C;
        height: 70%;
        margin-left: 50%;
        margin-top: 150px;
        background-image: url("img/nr2b.svg");
        background-repeat: no-repeat;
    }

    .rechts h1 {
        font-family: "Bahnschrift";
        margin-left: 12%;
    }

    .rechts h1:hover {
        text-decoration: underline;
    }

    .rechts div {
        margin-top: 220px;
        margin-left: 6%;
    }

    .rechts div a {
        text-decoration: none;
        color: #fff;
    }

    /*day night*/

    .sunn {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
    }

    #images {
        text-align: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    /*deel 2*/
    .linksonder {
        margin-top: 1020px;
        height: 45%;
        width: 100%;
        margin-left: 0%;
        background-image: url("img/t1.svg");
        background-repeat: no-repeat;
    }

 

    .rechtsonder {
        margin-top: 450px;
        height: 45%;
        width: 100%;
        margin-left: 40%;
        background-image: url("img/nr444.svg");
        background-repeat: no-repeat;
    }

    
  
    .fotoUpload {
        height: 700px;
        margin-top: 620px;
        position: absolute;
        margin-left: 9%;
    }

    .fotoUpload img {
        max-width: 700px;
        max-height: 700px;
    }

    .fotoUpload form {
        text-align: center;
    }

    .parameters {
        position: absolute;
        margin-left: 10%;
        margin-top: -200px;
        width: 30%;
        height: 400px;
        max-height: 500px;
        text-align: center;
    }

    /*input file*/
    .custom-file-input {
        color: transparent;
    }

    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file-input::before {
        content: 'Select an image';
        color: #fff;
        display: inline-block;
        background: #1B262C;
        border: 2px solid #3A7D2B;
        border-radius: 10px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
    }

    .custom-file-input:hover::before {
        border-color: #ffb3ba;
    }

    .custom-file-input:active {
        outline: 0;
    }

    input[type=submit] {
        color: #fff;
        display: inline-block;
        background: #1B262C;
        border: 2px solid #3A7D2B;
        border-radius: 10px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
    }

    input[type=submit]:hover {
        border-color: #ffb3ba;
    }

    span {
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }

    /*2 kolommn*/
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    /*nav*/
    .boven {
        height: 5%;
        margin-top: 25px;
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .boven a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        padding: 16px;
    }

    .boven a:hover {
        text-decoration: underline;
    }

    .separator {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .separator::before,
    .separator::after {
        content: '';
        flex: auto;
        border-bottom: 1px solid #fff;
    }

    .separator::before {
        margin-right: 1%;
        margin-left: -10px;
    }

    .separator::after {
        margin-left: 1%;
    }

    .separator2 {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .separator2::before,
    .separator2::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #fff;
    }

    .separator2::before {
        margin-right: 1%;
    }

    .separator2::after {
        margin-left: 5px;
    }

     /*translate*/
     h3 {
        font-family: "Bahnschrift";
        color: #fff;
    }

    form {
        font-family: 'Montserrat', sans-serif;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    .fotoUpload h3 {
        text-align: center;
    }
}

h1 {
    font-family: "Bahnschrift";
    color: #fff;
}